<div class="fieldsPanel-header">
  <div>
    <i class="fa fa-th fa-2x" style="display: inline-block;margin-top: 10px;margin-left: 10px;"></i>
    <div class="fieldsPanel-headerText" style="line-height: 2;"><span >Form Elements</span></div>
  </div>
</div>
<div id="sidebarContainer"  [dragula]='"bag-items"'  [dragulaOptions]="sidebarOptions"
     [dragulaModel]='formElementMenuState | async' >
  <div *ngFor="let formElement of formElementMenuState | async">
    <app-form-element [formElement]="formElement" [attr.data-id]="formElement.id" ></app-form-element>
  </div>
</div>
