<div class='wrapper'>
  <ng-sidebar-container>
    <ng-sidebar [(opened)]="sideBarOpened" >
      <app-form-component-menu></app-form-component-menu>
    </ng-sidebar>
    <div class='content container' ng-sidebar-content  >
      <div id="form_builder_container_empty" class="stageEmpty isSmall" (click)="containerElementSelected();toggleSidebar()" *ngIf="emptyContainer()" [dragula]='"bag-items"' [dragulaOptions]="itemsOptions" >
        <span name="enlarge" class="ji ji-enlarge"></span><span>Drag your first component here from the left panel.</span>
      </div>
    </div>
  </ng-sidebar-container>
</div>
