<div class='wrapper'>
  <ng-sidebar-container>
    <ng-sidebar #sidebar [(opened)]="sideBarOpened" mode="push" >
      <div style="display: none;" id="toggleSidebar" (click)="toggleSidebar()" ><i class="fa fa-bars"></i></div>
      <app-form-component-menu></app-form-component-menu>
    </ng-sidebar>
    <div  ng-sidebar-content style="height: 80vh;" >
      <div class="formContainerHelp" >
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
        <span>Drag form elements here</span>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
      <div class='content container'>
        <div  id="formContainer" class="formContainer" (click)="containerElementSelected();toggleSidebar()"  [dragula]='"bag-items"' [dragulaOptions]="itemsOptions" >
        </div>
      </div>
    </div>
  </ng-sidebar-container>
</div>
