<div class="flex-container">
  <header>
    <!--
    <div class="sticky-header header-section ">
      <div class="header-left">
        <button id="showLeftPush" (click)="toggleSidebar()" ><i class="fa fa-bars"></i></button>
        <div class="logo">
          <a href="index.html">
            <h1>Atena</h1>
            <span>Form builder</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="header-right">
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    -->
  </header>
  <div class="main" >
    <app-form-builder-grid></app-form-builder-grid>
  </div>
  <footer class="footer">Copyright &copy; https://github.com/LidianGit/Atena</footer>
</div>










