<div class="flex-container">
  <header>
    <div class="logo" style="" ></div>
    <h1>Athena</h1>
  </header>


  <div class="secondaryHeader">
    <div class="siteNav">
      <a id="siteNav_id_build" class="siteNav-link isActive">Build</a>
      <a id="siteNav_id_settings" class="siteNav-link ">Settings</a>
      <a id="siteNav_id_publish" class="siteNav-link ">Publish</a>
    </div>
    <!--<label for="previewSwitch" class="togglePreview hideOnMobile" id="js-previewSwitch">-->
    <!--</label>-->
  </div>



  <div class="main" >
    <app-form-builder-grid></app-form-builder-grid>
  </div>

  <footer class="footer">Copyright &copy; https://github.com/LidianGit/Atena</footer>
</div>










