@import "dragula.min.css";
.ng-sidebar__content[_ngcontent-c2]{
  position: relative !important;
}


.ng-sidebar{
  /*background-color: #a1a4ff;*/
  background-color: #4F52BA;


  /*min-width: 250px;*/
  color: white;
  min-width: 280px;
}

button:focus {outline:0;}

.cleared {
  clear: both;
}
